@CHARSET "ISO-8859-1";
.circle {
   background: url("../Images/circle.png");
   width: 24px;
   height: 24px;
   text-align: center;
   font-size: 11px;
   font-family: Tahoma, Verdana; 
   line-height: 24px;
   display: block;
   position:absolute;
   cursor: pointer;
   color: #333;
   z-index: 100000;
 }
 
.markable-circle {
   background: url("../Images/circleMarkable.png");
   width: 24px;
   height: 24px;
   text-align: center;
   font-size: 11px;
   font-family: Tahoma, Verdana; 
   line-height: 24px;
   display: block;
   position:absolute;
   cursor: pointer;
   color: #333;
   z-index: 100000;
 }